{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <div style="float:right;">
     <a href="/add"> add article</a>
	</div>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li>
	   <h2><a href="/node/{{ entry.id }}">{{ entry.title }}</a></h2>
	   {% if session.logged_in %}
	     <form action="/delete?node_id={{ entry.id }}" method=post>
		    <input type=submit value=delete />
		 </form>
		 <a href="/edit/{{ entry.id }}">edit </a>
       {% endif %}
	   {{ entry.text |safe }}
	</li>
  {% else  %}
    <li><em>Unbelievable.  No entries here so far</em></li>
  {% endfor %}
  </ul>
{% endblock %}
